{{ form_start(form) }}
<div class="row">
    <div class="col-sm-6 col-lg-6 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>إسم الدورة</label>
            {{ form_widget(form.nom ,{'attr': {'class': 'form-control'} }) }}
        </div>
    </div> 
    <div class="col-sm-3 col-lg-3 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>مركز التدريب</label>
            {{ form_widget(form.markez) }}
        </div>
    </div> 

    <div class="col-sm-3 col-lg-3 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>تاريخ البداية</label>
            {{ form_widget(form.dateDeb) }}
        </div>
    </div> 
    <div class="col-sm-3 col-lg-3 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>تاريخ النهاية</label>
            {{ form_widget(form.dateFin) }}
        </div>
    </div> 
    <div class="col-sm-3 col-lg-3 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>تاريخ بداية االتسجيل</label>
            {{ form_widget(form.dateDebInscrit) }}
        </div>
    </div> 
    <div class="col-sm-3 col-lg-3 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>تاريخ نهاية التسجيل</label>
            {{ form_widget(form.dateFinInscrit) }}
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>الجهة</label>
            {{ form_widget(form.jihas) }}
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>القسم الفني</label>
            {{ form_widget(form.kesms) }}
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-xs-12">
        <div class="form-group col-sm-10 col-lg-10 col-xs-10">
            <label>نوع الدورة</label>
            {{ form_widget(form.mostawaTadribis) }}
        </div>
    </div>
</div>
        {{ form_widget(form) }}
{% if show is defined %}
    <script>
        $('input').attr('readonly', 'readonly');
    </script>
{% else %}
    <input type="submit" class="btn btn-primary btn-lg" value="إنشاء" />
{% endif %}
{{ form_end(form) }}