{% extends 'HomeBundle:Default:layout.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <!-- /.row -->
        <!-- Page Content -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-xs-12">
                        <div class="card-box"> 
                            <h1>تعديل قائد(ة) </h1>
                        </div>
                        <div class="card-box"> 
                            <div class="row">
                            {{ form_start(edit_form) }}
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>الاسم</label>
                                    {{ form_widget(edit_form.nom ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>اللقب</label>
                                    {{ form_widget(edit_form.prenom ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>المعرف الكشفي</label>
                                    {{ form_widget(edit_form.inscrit ,{'attr': {'class': 'form-control','readonly':'readonly'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>بطاقة التعريف الوطنية</label>
                                    {{ form_widget(edit_form.cin ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>تاريخ الولادة</label>
                                    {{ form_widget(edit_form.dateNaissance ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>الفوج</label>
                                    {{ form_widget(edit_form.fawej ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>الجهة</label>
                                    {{ form_widget(edit_form.idJiha ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>القسم</label>
                                    {{ form_widget(edit_form.idKesm ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>  
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>المستوى التدريبي</label>
                                    {{ form_widget(edit_form.lastDirasa ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                                {% if app.security.getToken().getUser().hasRole("ROLE_SUPER_ADMIN") or app.security.getToken().getUser().hasRole("ROLE_ADMIN_WATANI") %}
                            <div class="col-sm-3 col-lg-3 col-xs-12" id="valideDiv" {% if chef.lastDirasa == 'مساعد قائد تدريب' or chef.lastDirasa == 'قائد تدريب'%} {% else %} hidden {% endif %}>
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>الاعتماد التدريبي</label>
                                    {{ form_widget(edit_form.valide ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div id="dateValideDiv" {% if chef.valide == 'NON'%} hidden="" {% endif %}>
                                <div class="col-sm-3 col-lg-3 col-xs-12">
                                    <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                        <label>تاريخ بداية الاعتماد</label>
                                    {{ form_widget(edit_form.valideDateDeb ,{'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <div class="col-sm-3 col-lg-3 col-xs-12">
                                    <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                        <label>تاريخ بداية الاعتماد</label>
                                    {{ form_widget(edit_form.valideDateFin ,{'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>المستوى الدراسي</label>
                                    {{ form_widget(edit_form.etude ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>المهنة</label>
                                    {{ form_widget(edit_form.travail ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>الهاتف</label>
                                    {{ form_widget(edit_form.tel ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3 col-xs-12">
                                <div class="form-group col-sm-10 col-lg-10 col-xs-10">
                                    <label>الجنس</label>
                                    {{ form_widget(edit_form.sex ,{'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                             
                            </div>
                                <div class="row">
                            <input type="submit" class="btn btn-lg btn-primary col-lg-3" value="تعديل" />
                            {{ form_end(edit_form) }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 {% if app.security.getToken().getUser().hasRole("ROLE_SUPER_ADMIN") or app.security.getToken().getUser().hasRole("ROLE_ADMIN_WATANI") %}
                       
<script>
$('#dbbundle_chef_lastDirasa').on('change', function (){
    if($('#dbbundle_chef_lastDirasa').val() === 'مساعد قائد تدريب' || $('#dbbundle_chef_lastDirasa').val() === 'قائد تدريب' ){
        $('#valideDiv').removeAttr('hidden');
        if($('#dbbundle_chef_valide').val() === 'OUI' ){
            $('#dateValideDiv').removeAttr('hidden');
            $('#dbbundle_chef_valideDateDeb').attr('required', true);
            $('#dbbundle_chef_valideDateFin').attr('required', true);
        }
    }else{
        $('#valideDiv').attr('hidden','hidden');
        $('#dateValideDiv').attr('hidden','hidden');
        $('#dbbundle_chef_valideDateDeb').removeAttr('required');
        $('#dbbundle_chef_valideDateFin').removeAttr('required');
    }
});
$('#dbbundle_chef_valide').on('change', function (){
    if($('#dbbundle_chef_valide').val() === 'OUI' ){
        $('#dateValideDiv').removeAttr('hidden');
        $('#dbbundle_chef_valideDateDeb').attr('required', true);
        $('#dbbundle_chef_valideDateFin').attr('required', true);
    }else{
        $('#dateValideDiv').attr('hidden','hidden');
        $('#dbbundle_chef_valideDateDeb').removeAttr('required');
        $('#dbbundle_chef_valideDateFin').removeAttr('required');
    }
});
</script>
{% endif %}
    {% endblock %}

