{% extends 'HomeBundle:Default:layout2.html.twig' %}

{% block body %}
    <div class="container-fluid" >
        <!-- Page Heading -->

        <!-- /.row -->
        <!-- Page Content -->
        <div class="content-page" style="margin: 10px">
            <!-- Start content -->
            <div class="content" style="margin-top: 0px;">
                <div class="row">
                    {%if msg is defined %}
                        <div class="col-sm-5 col-lg-5 col-xs-12 col-lg-offset-4">
                            <div class="card-box">
                                <h1 class="text-center">الدراسات التدريبية ديسمبر  2017  </h1>
                                <div class="col-sm-12 col-lg-12 col-xs-12">
                                    <div class="alert alert-danger text-center">
                                        <strong>تثبت في كلمة السر .</strong><br>

                                    </div>
                                </div>
                                <form role="form" action="{{ path('inscrit_Dawra') }}" method="POST">
                                    <div class="form-group">
                                                            <label for="exampleInputEmail1">الدورة</label>
                                                            <select  name="dawra" class="form-control">
                                                                {%for dawra in dawrats%}
                                                                    <option value="{{dawra.id}}">({{dawra.idMarkez.nom}}) - {{dawra.nom}}</option>
                                                                {%endfor%}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">كلمة العبور</label>
                                                            <input type="text" name="nom" class="form-control" required="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputPassword1">كلمة السر </label>
                                                            <input type="password" name="psw" class="form-control" required="" >
                                                        </div>
                                    <input type="submit" class="btn btn-primary btn-lg" value="دخول ">
                                </form>
                            </div>

                        </div>
                    {%else%}
                        <div class="col-sm-12 col-lg-12 col-xs-12">
                        
                        <div class="card-box text-center"> 
                            <h3>قائمة المشاركين   <span> {{ D.nom}} -- ({{ D.idMarkez.nom}})</span></h3>
                        </div>
                        <div class="card-box"> 
                            <table id="datatable" class="table table-striped table-bordered " role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr>
                                        <th>الاسم و اللقب</th>
                                        <th>عدد ب ت و</th>
                                        <th>عدد الانخراط</th>
                                        <th>الجهة</th>
                                        <th>الفوج</th>
                                        <th>القسم</th>
                                        <th>الحضور</th>
                                        <th>النتيجة</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inscrit in inscrits %}
                                        <tr>
                                            <td>{{ inscrit.idChef.nom }} {{ inscrit.idChef.prenom }}</td>
                                            <td>{{ inscrit.idChef.cin }}</td>
                                            <td>{{ inscrit.idChef.inscrit }}</td>
                                            <td>{{ inscrit.idChef.idJiha.name }}</td>
                                            <td>{{ inscrit.idChef.fawej }}</td>
                                            <td>{{ inscrit.idKesm.nom }}</td>
                                            <td>
                                                
                                                    {%if inscrit.presence == 1%}
                                                    <span class="label label-success">حاضر</span>
                                                    {%elseif inscrit.presence == 2%}
                                                    <span class="label label-danger" >غائب</span>
                                                {%else%}
                                                    <span class="label label-default">في طور الإنجاز</span>
                                                {%endif%}
                                              
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">نعم/لا <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="{{path('adminInscrit_presence',{'id':inscrit.id,'etat':'oui','idDawra':D.id,'login':D.login,'psw':D.psw})}}">نعم</a></li>
                                                        <li><a href="{{path('adminInscrit_presence',{'id':inscrit.id,'etat':'non','idDawra':D.id,'login':D.login,'psw':D.psw})}}" >لا</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                  {%if inscrit.result == 1%}
                                                    <span class="label label-success">يؤهل</span>
                                                    {%elseif inscrit.result == 2%}
                                                    <span class="label label-danger" >يعيد</span>
                                                {%else%}
                                                    <span class="label label-default">في طور الإنجاز</span>
                                                {%endif%}
                                              {%if inscrit.presence == 1%}
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">يؤهل/يعيد<span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="{{path('adminInscrit_reselt',{'id':inscrit.id,'etat':'oui','idDawra':D.id,'login':D.login,'psw':D.psw})}}">يؤهل</a></li>
                                                        <li><a href="{{path('adminInscrit_reselt',{'id':inscrit.id,'etat':'non','idDawra':D.id,'login':D.login,'psw':D.psw})}}" >يعيد</a></li>
                                                    </ul>
                                                </div>
                                                {%endif%}
                                            </td>
                                            
                                            
                                            <td>
                                                {%if  app.user%}
                                                                        {% if app.security.getToken().getUser().hasRole("ROLE_SUPER_ADMIN") or app.security.getToken().getUser().hasRole("ROLE_ADMIN_WATANI") %}
{#                                                <a  class="btn btn-xs btn-warning waves-effect waves-light" href="{{path('inscrit_edit',{'id':inscrit.id})}}" ><i class="fa fa-pencil"></i> تعديل </a>#}
                                                {%endif%}
                                                {%endif%}
                                                <a  class="btn btn-xs btn-success waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal-{{inscrit.id}}"><i class="fa fa-plus"></i> تفاصيل </a>
                                            </td>
                                            <div id="con-close-modal-{{inscrit.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">ملف القائد {{ inscrit.idChef.nom }} {{ inscrit.idChef.prenom }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الاسم</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.nom }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">اللقب</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.prenom }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">تاريخ الولادة</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.dateNaissance|date('Y-m-d') }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">المستوى العلمي</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.etude }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">المهنة</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.travail }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الهاتف</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.tel }}">
                                                            </div>
                                                        </div>
{#                                                        <div class="col-md-4">#}
{#                                                            <div class="form-group">#}
{#                                                                <label for="field-1" class="control-label">البريد الإلكتروني</label>#}
{#                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.email }}">#}
{#                                                            </div>#}
{#                                                        </div>#}

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">العنوان</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.adresse }}">
                                                            </div>
                                                        </div>
                                                        <h2 class="text-center"> بطاقة التعريف الوطنية </h2>
                                                        <hr>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">رقم بطاقة التعريف الوطنية</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.cin }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الوجه الأول</label>
                                                                <a href="{{ asset('bundles/home/images/cin/'~inscrit.idChef.imageCinFace)}}" target="_blanc" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> عرض</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الوجه الثاني</label>
                                                                <a href="{{ asset('bundles/home/images/cin/'~inscrit.idChef.imageCinPile)}}" target="_blanc" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> عرض</a>
                                                            </div>
                                                        </div>
                                                            <h2 class="text-center col-md-12"> المعلومات الكشفية </h2>
                                                        <hr>
                                                         <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">المعرف الكشقي</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.inscrit }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الدراسة</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idDirassa.nom }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">القسم</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.idKesm.nom }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الفوج</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.fawej }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الوحدة</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.wehda }}">
                                                            </div>
                                                        </div>
                                                        <h2 class="text-center col-sm-12 col-lg-12 col-xs-12"> أخر دراسة تدريبية </h2>
                                                        <hr>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الدراسة</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.lastDirasa }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">قائدها</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.chefLastDirassa }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">مكانها</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.lieuxLastDirassa }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">الشهر</label>
                                                                <input type="text" class="form-control" readonly="" value="{{ inscrit.idChef.dateLastDirassa }}">
                                                            </div>
                                                        </div>

                                                    </div>
                                                   
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        </tr>
                                        
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                            </div>
                        </div>
                    {%endif%}
                </div>
            </div>

        {% endblock %}
