<!DOCTYPE html>
<html lang="en" dir="rtl">
    
<!-- Mirrored from coderthemes.com/minton_2.0/blue_rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Dec 2016 12:32:48 GMT -->
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{{ asset('bundles/home/images/favicon_1.png')}}">

        <link href="{{asset('bundles/home/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/home/plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/home/plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/home/plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/home/plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

        <link href="{{asset('bundles/home/plugins/switchery/switchery.min.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/home/css/bootstrap-rtl.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/home/css/core.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/home/css/icons.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/home/css/components.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/home/css/pages.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/home/css/menu.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/home/css/responsive.css')}}" rel="stylesheet" type="text/css">

        <script src="{{asset('bundles/homejs/modernizr.min.js')}}"></script>
<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-72255993-1', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>


    <body class="fixed-left">
        
        <!-- Begin page -->
        <div id="wrapper">
               
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
            {% block body %}{% endblock %}
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


    
        <script>
            var resizefunc = [];
        </script>

          <!-- jQuery  -->
        <script src="{{asset('bundles/home/js/jquery.min.js')}}"></script>
        <script src="{{asset('bundles/home/js/bootstrap-rtl.min.js')}}"></script>
        <script src="{{asset('bundles/home/js/detect.js')}}"></script>
        <script src="{{asset('bundles/home/js/fastclick.js')}}"></script>
        <script src="{{asset('bundles/home/js/jquery.slimscroll.js')}}"></script>
        <script src="{{asset('bundles/home/js/jquery.blockUI.js')}}"></script>
        <script src="{{asset('bundles/home/js/waves.js')}}"></script>
        <script src="{{asset('bundles/home/js/wow.min.js')}}"></script>
        <script src="{{asset('bundles/home/js/jquery.nicescroll.js')}}"></script>
        <script src="{{asset('bundles/home/js/jquery.scrollTo.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/switchery/switchery.min.js')}}"></script>

        <!-- Datatables-->
        <script src="{{asset('bundles/home/plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/dataTables.bootstrap.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/jszip.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/pdfmake.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/vfs_fonts.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/buttons.print.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/home/plugins/datatables/dataTables.scroller.min.js')}}"></script>

        <!-- Datatable init js -->
        <script src="{{asset('bundles/home/pages/datatables.init.js')}}"></script>

        <script src="{{asset('bundles/home/js/jquery.core.js')}}"></script>
        <script src="{{asset('bundles/home/js/jquery.app.js')}}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').dataTable({
                    "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Arabic.json"
                    }});
                $('#datatable-keytable').DataTable( { keys: true } );
                $('#datatable-responsive').DataTable();
                $('#datatable-scroller').DataTable( { ajax: "{{asset('bundles/home/plugins/datatables/json/scroller-demo.json')}}", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
                var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
            } );
            TableManageButtons.init();

        </script>
    
    </body>

<!-- Mirrored from coderthemes.com/minton_2.0/blue_rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Dec 2016 12:33:26 GMT -->
</html>